$size: 50vh;
.container {
  width: $size;
  height: $size;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: rgb(248, 168, 77);
  box-shadow: 2px 2px 7px black;
  padding: 5px;
}
button {
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 2em;
  background: greenyellow;
}
